/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/

@import 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

/*
*
* MEASURE YOUR POSTER and change these two variables !
* 
*/
$poster-width: 536;
$poster-height: 750;



body {
	

}

