/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

1. Main Layout
2. Content

==============================================
*/
@use 'sass:math';
@import 'reset';

/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

/*
*
* MEASURE YOUR POSTER and change these two variables !
* 
*/
$poster-width: 976;
$poster-height: 1400;

body {
	min-height: 100vh;
	padding: 5vh 5vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #eee;
	font-family: sans-serif;
}
.poster {
	position: relative;

	overflow: hidden;

	background-color: #d8d2c5;
	box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);

	@media (min-aspect-ratio: #{$poster-width} / #{$poster-height}) {
		width: 90vh * math.div($poster-width, $poster-height);
		height: 90vh;
	}

	@media (max-aspect-ratio: #{$poster-width} / #{$poster-height}) {
		width: 90vw;
		height: 90vw * math.div($poster-height, $poster-width);
	}

	// background-image: url(../img/jazz-poster-guide-layer.png);
	background-size: contain;

	.head-and-sax {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 25%;
		top: 4.25%;
		transition: 2s;
		transform-origin: 15.5% 17.5%;
		animation-name: playing;
		animation-duration: 2.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: normal;

		.head {
			width: 22.5%;
		}

		.sax{
			position: absolute;
			width: 34.7%;
			top: 12.3%;
			left: 20.5%;
			z-index: 1;
		}

		.right-arm{
			position: absolute;
			width: 26.7%;
			top: 18.6%;
			left: 27%;
		}
	}

	.head-and-sax.do-cool-shit{
		animation-name: xtreme;
		animation-duration: 2.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	@keyframes xtreme{
		0% {transform: rotate(0deg);}
		50% {transform: rotate(-50deg);}
		100% {transform: rotate(0deg);}
	}

	@keyframes playing{
		0% {transform: rotate(0deg);}
		50% {transform: rotate(-10deg);}
		100% {transform: rotate(0deg);}
		// 75% {transform: rotate(10deg);}
		// 100% {transform: rotate(0deg);}
	}

	.left-arm{
		position: absolute;
		width: 23%;
		top: 18.1%;
		left: 8%;
		animation-name: playing;
		animation-duration: 2.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	

	.left-leg{
		position: absolute;
		width: 37.5%;
		top: 67.5%;
		left: 6.2%;
	}
	
	.right-leg{
		position: absolute;
		width: 37.5%;
		top: 69.5%;
		left: 42.5%;
		animation-name: tapping;
		animation-duration: 2.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	@keyframes tapping{
		0% {transform: rotate(0deg);}
		50% {transform: rotate(-5deg);}
		100% {transform: rotate(0deg);}
	}

	.body{
		position: absolute;
		width: 33%;
		top: 24.5%;
		left: 25.5%;
		animation-name: playing;
		animation-duration: 2.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.tie{
		position: absolute;
		width: 10.2%;
		top: 21.5%;
		left: 35%;
		animation-name: playing;
		animation-duration: 2.5s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
		animation-direction: normal;
	}

	.right-text{
		position: absolute;
		width: 13.7%;
		top: 60%;
		left: 78%;
	}

	// .one{
	// 	position: absolute;
	// 	background-color: #bc1f3d;
	// 	border-radius: 50%;
	// 	height: 7px;
	// 	width: 7px;
	// 	top: 24.2%;
	// 	left: 74.3%;
	// }

	// .two{
	// 	position: absolute;
	// 	background-color: #bc1f3d;
	// 	border-radius: 50%;
	// 	height: 17.3px;
	// 	width: 17.3px;
	// 	top: 12.3%;
	// 	left: 87.8%;
	// }

	// .three{
	// 	position: absolute;
	// 	background-color: #bc1f3d;
	// 	border-radius: 50%;
	// 	height: 40px;
	// 	width: 40px;
	// 	top: 15.6%;
	// 	left: 82.5%;
	// }

	// .four{
	// 	position: absolute;
	// 	background-color: #bc1f3d;
	// 	border-radius: 50%;
	// 	height: 37px;
	// 	width: 37px;
	// 	top: 5.9%;
	// 	left: 73.2%;
	// }

	// .five{
	// 	position: absolute;
	// 	background-color: black;
	// 	border-radius: 50%;
	// 	height: 12.5px;
	// 	width: 12.5px;
	// 	top: 11.5%;
	// 	left: 67.6%;
	// }

	// .two{
	// 	position: absolute;
	// 	background-color: #bc1f3d;
	// 	border-radius: 50%;
	// 	height: 25px;
	// 	width: 25px;
	// 	top: 10%;
	// 	left: 91%;
	// }

	// .two{
	// 	position: absolute;
	// 	background-color: #bc1f3d;
	// 	border-radius: 50%;
	// 	height: 25px;
	// 	width: 25px;
	// 	top: 10%;
	// 	left: 91%;
	// }
}
